<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> scriptMEDD </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/css2/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css2/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css2/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">

        <div class="hero_bg_box">
            <img src="~/images2/hero-bg.png" alt="">
        </div>

        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <span>
                            scriptMEDD
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              
                                <a class="nav-link" href="/Records" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">Records</a>

                            </li>
                            <li class="nav-item">
                             
                                <a class="nav-link" href="/OPD" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">OPD</a>

                            </li>
                            <li class="nav-item">
                              
                                <a class="nav-link" href="/ConsultingList" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">Consulting</a>

                            </li>
                            <li class="nav-item">
                              
                                <a class="nav-link" href="/AddANC" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">ANC</a>

                            </li>
                            <li class="nav-item">
                            
                                <a class="nav-link" href="/GHS" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">GHS Reports</a>

                            </li>
                            <li class="nav-item">
                              
                                <a class="nav-link" href="/Inventory" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">Inventory</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Configuration">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Identity/Account/Logout">Log Out</a>
                            </li>
                            <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <h1>
                                            We Provide the Best Healthcare Solutions
                                        </h1>
                                        <p>
                                             We develope custom software solutions that suits your business and your prcocesses to help you achieve your goals
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <h1>
                                            We Provide Best Healthcare
                                        </h1>
                                        <p>
                                            Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <h1>
                                            We Provide Best Healthcare
                                        </h1>
                                        <p>
                                            Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>

        </section>
        <!-- end slider section -->
    </div>


    <!-- department section -->

    <section class="department_section layout_padding">
        <div class="department_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Our Modules
                    </h2>
                    <p>
                       Our tailored modules ensures you work with precision that produces result
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images2/s1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Records Management
                                </h5>
                                <p>
                                    Effective and Efficient custom records management
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images2/s2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    OPD Processes
                                </h5>
                                <p>
                                    Our client focused OPD Ensures smooth operational efficiency
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images2/s3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    ANC 
                                </h5>
                                <p>
                                    Ensures effective anti and post natal records management
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images2/s4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Custom Reports
                                </h5>
                                <p>
                                    Provides avenue for custom report together with statutory GHS Reports
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        View All
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end department section -->
    <!-- about section -->
    <section class="doctor_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Records Summary
                </h2>
                <p class="col-md-10 mx-auto px-0">
                    Get records update on the go...
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/d1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="social_box">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </div>
                            <h5>
                                @ViewBag.totalmales
                            </h5>
                            <h6 class="">
                                Total Males
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/d2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="social_box">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </div>
                            <h5>
                                @ViewBag.totalfemales
                            </h5>
                            <h6 class="">
                                Total Females
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/d3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="social_box">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </div>
                            <h5>
                                @ViewBag.totalrecords
                            </h5>
                            <h6 class="">
                                Total Patients
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </section>

  

    <!-- end about section -->
    <!-- doctor section -->

   

    <!-- end doctor section -->
    <!-- contact section -->
  
    <!-- end contact section -->
    <!-- client section -->


    <!-- end client section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

</body>

</html>