@model IEnumerable<InventoryTransaction>
    <form asp-controller="DispensaryReport" method="get" asp-action="Index">
    <div class="dash-widget">
        <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
        <div class="dash-widget-info text-right">
            <h3>98</h3>
            <span class="widget-title1">Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
        </div>
    </div>

    </form>

   
    