@model PatientInformation
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> scriptMEDD </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="~/css2/custom.css" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css2/custom2.css" />

    <!-- font awesome style -->
    <link href="~/css2/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css2/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css2/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            scriptMEDD

                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home </a>
                            </li>
                            <li class="nav-item active">
                               
                                <a class="nav-link"  href="/ListPatient" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">Patient List</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#">User Guide</a>
                            </li>
                            
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="container">
                        <form enctype="multipart/form-data" role="form" method="post">
                            <div class="row">
                                <div class="row">
                                    <h4>Patient Records | Add Record<hr /></h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0101/Health Facility Number</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="HealthFacilityNo" class="form-control" reaonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0102/SPCODE</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="SPCODE" class="form-control" placeholder="SPCODE if any" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0103/Facility Name</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="FacilityName" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0104/Registration Date</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="date" asp-for="RegistrationDate" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>





                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0201/Surname</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="Surname" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0202/Othernames</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" class="form-control" asp-for="OtherNames" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0203/DOB</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="date" id="DOB" asp-for="DOB" class="form-control" onchange="ageCalculator()" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0204/Age</label>
                                            <div class="col-md-6 mb-4">
                                            <input type="text" id="result" asp-for="Age" class="form-control " readonly>
                                            </div>
                                               
                                        </div>
                                    </div>





                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0205/Sex</label>
                                            <div class="col-md-6 mb-4">
                                                <select asp-for="Sex" class="form-control">
                                                    <option selected>Select</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0207/Occupation</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="Occupation" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0206/Marital Status</label>
                                            <div class="col-md-6 mb-4">
                                                <select class="form-control" asp-for="MaritalStatus">
                                                    <option selected>Select</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Single">Single</option>
                                                    <option value="Divorced">Divorced</option>
                                                    <option value="Widow">Widow</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0208/Religion</label>
                                            <div class="col-md-6">
                                                <input type="text" asp-for="Religion" class="form-control" required>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                           
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0209/Postal Address</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="PostalAddress" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0211/Telephone</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="number" asp-for="Telephone" class="form-control" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0213/Name of Nearest Relative</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="NameOfNearestRelative" class="form-control" required>
                                            </div>
                                           
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0301/District</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="District" class="form-control" required>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0210/Home Address</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="HomeAddress" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0212/Email</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="email" asp-for="Email" class="form-control" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0214/Contact Address of Nearest Relative</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="ContactOfNearestRealtive" class="form-control">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0302/Sub-District/Locality</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="SubDistrict_Locality" class="form-control" required>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0303/Name of Health Insurance Scheme</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="NameOfHealthInsuranceScheme" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0304/Health Insurace No.</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="HealthInsuranceNumber" class="form-control" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label">0305/Health Insurace ID No.</label>
                                            <div class="col-md-6 mb-4">
                                                <input type="text" asp-for="HealthInsuranceSchemeIDNumber" class="form-control" required>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                          
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label"></label>
                                            <div class="col-md-6 mb-4">
                                         
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label"></label>
                                            <div class="col-md-6">
                                                
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label"></label>
                                            <div class="col-md-6 mb-4">
                                                
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-6 col-form-label"></label>
                                            <div class="col-md-6 mb-4">
                                                <button type="submit" class="btn btn-success"><i class="fas fa-save fa-sm"> </i>Save Record</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            
                                 
                              
                                <script type="text/javascript">
                                    alert("@ViewBag.Message");
                                </script>

                               </form>
                        
                </div>
             
            </div>
        </div>
    </section>

   

    <!-- end about section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
           
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script>
        function ageCalculator() {
            var userinput = document.getElementById("DOB").value;
            var dob = new Date(userinput);
            if (userinput == null || userinput == '') {
                document.getElementById("message").innerHTML = "**Choose a date please!";
                return false;
            } else {

                //calculate month difference from current date in time
                var month_diff = Date.now() - dob.getTime();

                //convert the calculated difference in date format
                var age_dt = new Date(month_diff);

                //extract year from date
                var year = age_dt.getUTCFullYear();

                //now calculate the age of the user
                var age = Math.abs(year - 1970);

                //display the calculated age
                return document.getElementById("result").value = age;



            }
        }</script>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>

</body>

</html>